:root {
    --color-1: rgba(4,21,117,1);
    --color-2: rgba(2,230,227,1);
    --color-3: #e0bc99 ;
    --background: #f5f1ed;
    --text: ;
}

body {
    background-color: var(--background);
    font-family: Quicksand, sans-serif;
}
header {
    background-image: linear-gradient(180deg, rgba(4,21,117,1) 0%, rgba(2,132,169,1) 57%, rgba(2,230,227,1) 100%);
}

.title {
    font-family: Lobster, cursive;
    color: var(--background);
}
.subtitle {
    color:black;
}

.search-bar h3 {
    color: var(--color-1);
}
.button {
    background-color:var(--color-2);
    color: var(--color-1);
    border: 1px solid rgba(2,132,169,1);
    box-shadow: 1px 1px 3px var(--color-3);
}
.button:hover {
    box-shadow: 2px 2px 4px var(--color-3);
    background-color:aqua;
    color:var(--color-1);
}
.button:active {
    background-color: #34c2c0;
    box-shadow: 1px 2px 3px var(--color-3);
}

.alerts {
    border-radius: 5px;
    background-color:var(--color-1) ;
    color:white;
}

.card-header {
    
    background-image: linear-gradient(180deg, rgba(2,132,169,1) 0%, rgba(2,230,227,1) 100%)
}
.card-header-title {
    font-family: Lobster, cursive;
    color:var(--color-1);
}
.card-content {
    background-color:  #efcab0;
    width:100%;
}